#Config
venv

# Cache
__pycache__/test.cpython-310.pyc
basketball_monitoring_system/__pycache__
games/__pycache__
games/migrations/__pycache__
logins/__pycache__
logins/migrations/__pycache__
teams/__pycache__
teams/migrations/__pycache__
users/__pycache__
users/migrations/__pycache__
players/__pycache__
players/migrations/__pycache__